extends base.pug

block content
  .d-flex(style="height: 100%")
    .card.w-50(style='background-color: #eefae7')
      .card-body.text-center
        .account-settings
          .user-profile
            .user-avatar
            
            h5.user-name(style='margin-left: -20px') #{fname} #{lname}
            h6.username(style='margin-left: -20px')  #{username}
    .w-100
      .card.h-100(style='background-color: #eefae7')
        h1.text-center.my-3
          strong Settings
        .card-body.p-4
          #accordionExample.accordion.h-75
            .accordion-item
              h2#headingOne.accordion-header
                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                  | Edit Personal Details
              #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                .accordion-body
                  form.d-flex.flex-column(action='/settings/info', method='POST', style='gap: 15px;')
                    .flex-item
                      h6.mb-2.text-primary Personal Details
                    .flex-item
                      .form-group
                        label(for='username') Username
                        input#fullName.form-control(type='text', placeholder='username', name = 'username', value=`${user.name}`)
                    .flex-item
                      .form-group
                        label(for='firstName') First Name
                        input#fullName.form-control(type='text', placeholder='First Name', name = 'fname', value=`${user.fname}`)
                    .flex-item
                      .form-group
                        label(for='lastName') Last Name
                        input#fullName.form-control(type='text', placeholder='Last Name', name ='lname', value=`${user.lname}`)
                    .flex-item
                      .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
                        .text-right
                          button#submit.btn.btn-primary(type='submit', style='color: black;\
                            background-color: whitesmoke')  Update
            .accordion-item
              h2#headingTwo.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                  | Change Password
              #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                .accordion-body

                  if isOldPasswordIncorrect
                    .alert.alert-danger(role='alert')
                      | Incorrect Old Password

                  form.d-flex.flex-column(action='/settings/password', method='POST', style='gap: 15px;')
                    .flex-item
                      h6.mb-2.text-primary Personal Details
                    .flex-item
                      .form-group
                        label(for='oldPassword') Old Password
                        input#fullName.form-control(type='password', placeholder='Old Password', name = 'oldPassword')
                    .flex-item
                      .form-group
                        label(for='newPassword') New Password
                        input#fullName.form-control(type='password', placeholder='New Password', name = 'newPassword')
                    .flex-item
                      .form-group
                        label(for='confirmNewPassword') Confirm New Password
                        input#fullName.form-control(type='password', placeholder='Confirm New Password', name ='confirmNewPassword')
                    .row.gutters
                      .flex-item
                        .text-right
                          button.btn.btn-primary(type='submit', style='color: black;\
                            background-color: whitesmoke')  Update
            .accordion-item
              h2#headingThree.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                  | Accordion Item #3
              #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                .accordion-body
                  strong This is the third item&apos;s accordion body.
                  |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                  code .accordion-body
                  | , though the transition does limit overflow.
    footer.bg-dark.text-white.pt-5.pb-4
  .container.text-center.text-md-left
    .row.text-center.text-md-left
      .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
        a.fb-ic
          i.fab.fa-facebook-f.fa-lg.white-text.mx-3.mx-md-4.fa-2x  
        // Twitter
        a.tw-ic
          i.fab.fa-twitter.fa-lg.white-text.mx-3.mx-md-4.fa-2x  
        // Google +
        a.gplus-ic
          i.fab.fa-google-plus-g.fa-lg.white-text.mx-3.mx-md-4.fa-2x  
        // Linkedin
        a.li-ic
          i.fab.fa-linkedin-in.fa-lg.white-text.mx-3.mx-md-4.fa-2x  
        // Instagram
        a.ins-ic
          i.fab.fa-instagram.fa-lg.white-text.mx-3.mx-md-4.fa-2x
