doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Spiral
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/profile.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
nav.navbar.navbar-expand-md.navbar-custom
  a.logo
    img(src='images/spiral.png', ,='', width='40px')
  a.navbar-logo(style='font-size: 40px;')  #{title}
  ul.navbar-nav.ml-auto
    .items
      li
        a(href='/home')  #{home}
      li
        a(href='/profile')  #{profile} 
      li
        a(href='/login')  #{signout} 
      li
        a(href='/checkout')
          i.fa.fa-shopping-cart(aria-hidden='true')
    form.form-inline.ml-auto
      li.search-icon
        input(type='search', placeholder='Search')
        label.icon
          span.fa.fa-search  
section#content
  br
  .page-heading
    .media.clearfix
      .media-left.pr30
        a(href='#')
          img.media-object.mw50(src='https://pbs.twimg.com/profile_images/1342423201578532864/MXWr4IbZ_400x400.jpg')
      .media-body.va-m
        h2.media-heading
          | #{fname} #{lname}
          small  - Profile
        p.lead
          | Shopaholic tita of the Century. Who needs jowa if you are rich and can buy anything you want!!
      div
        button.w-100.btn.btn-lg.btn-secondary(type='button', style= 'background-color: whitesmoke; color: black')
          a(href='/edit') Edit Profile
      div
        button.w-100.btn.btn-lg.btn-secondary(type='button', style= 'background-color: whitesmoke; color: black')
          a Delete Account
  .row
    .col-md-4
      .panel
        .panel-heading
          span.panel-icon
            i.fa.fa-star
          span.panel-title  Username
        .panel-body.pn
          p(name = 'username') #{username}
    .col-md-8
      .tab-block
        ul.nav.nav-tabs
          li.active
            a(href='#tab1', data-toggle='tab') Buyer&apos;s Post
        .panel
          br
          a.btn.btn-warning.btn-circle.text-uppercase(data-toggle='collapse', href='#post', style= 'background-color: whitesmoke; color: black')
            span.glyphicon.glyphicon-comment
            |  Post
          #post.collapse
            ul.media-list
              li.media.media-replied
                .container.pb-cmnt-container
                  .row
                    .col-md.col-md-offset-3
                      .panel.panel-info
                        .panel-body(style= 'background-color: #eefae7')
                          form(action='/profile', method='POST')
                            .form-floating
                              input(type='file', name='itemimage')
                            .form-floating
                              input#floatingInput.form-control(type='text', placeholder='Item Name', name='itemname')
                              textarea.pb-cmnt-textarea(type = 'text' placeholder='Description', name='itemdescription')
                            .col-md-4
                              label.form-label(for='itemcategory', name='category') Category
                              select#state.form-select(required='')
                                option(value='') Choose...
                                option Gadgets
                                option Clothing
                                option Accesories
                                option Shoes
                                option Furniture
                                option Appliances
                                option Essentials
                                option Others
                              button.btn.btn-primary.pull-right(type='submit') Upload
        .tab-content.p30(style='height: 730px;')
          #tab1.tab-pane.active
            .media
              a.pull-left(href='#')
                img.media-object.mn.thumbnail.mw1(src='https://pbs.twimg.com/profile_images/1342423201578532864/MXWr4IbZ_400x400.jpg')
              .media-body
                div
                  .dropdown
                    button#gedf-drop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      i.fa.fa-ellipsis-h
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='gedf-drop1')
                      .h6.dropdown-header Configuration
                      a.dropdown-item Edit
                      a.dropdown-item Delete
                h5.media-heading.mb20
                  |  #{fname} #{lname}
                  small  - 2 hours ago
                img(src='images/item2.jpeg')
                br
                a.float-left.btn.text-white.btn-danger
                  i.fa.fa-heart
                  |  Like
                a#reply.btn.btn-info.btn-circle.text-uppercase(data-toggle='collapse', href='#reply1')
                  span.glyphicon.glyphicon-share-alt
                  |  Reply
                a.btn.btn-warning.btn-circle.text-uppercase(data-toggle='collapse', href='#comment1')
                  span.glyphicon.glyphicon-comment
                  |  Comment
            #reply1.collapse
              ul.media-list
                li.media.media-replied
                  .container.pb-cmnt-container
                    .row
                      .col-md.col-md-offset-3
                        .panel.panel-info
                          .panel-body
                            textarea.pb-cmnt-textarea(placeholder='Write your comment here!')
                            form.form-inline
                              .btn-group
                                button.btn(type='button')
                                  span.fa.fa-picture-o.fa-lg
                                button.btn(type='button')
                                  span.fa.fa-video-camera.fa-lg
                                button.btn(type='button')
                                  span.fa.fa-microphone.fa-lg
                                button.btn(type='button')
                                  span.fa.fa-music.fa-lg
                              button.btn.btn-primary.pull-right(type='button') Post
            #comment1.collapse
              ul.media-list
                li.media.media-replied
                  .card.gedf-card
                    .card-header
                      .d-flex.justify-content-between.align-items-center
                        .d-flex.justify-content-between.align-items-center
                          .mr-2
                            img.rounded-circle(width='45', src='https://i.mydramalist.com/ZrLd8f.jpg')
                          .ml-2
                            .h5.m-0 @rubyjen
                            .h7.text-muted
                              a(href='sellerprof.html') Jennie Kim
                        div
                          .dropdown
                            button#gedf-drop1.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                              i.fa.fa-ellipsis-h
                            .dropdown-menu.dropdown-menu-right(aria-labelledby='gedf-drop1')
                              .h6.dropdown-header Configuration
                              a.dropdown-item Edit
                              a.dropdown-item Delete
                    .card-body
                      .text-muted.h7.mb-2
                        i.fa.fa-clock-o
                        | 10 min ago
                      h5.card-title Hey Sister!
                      p.card-text
                        | I have that Dexter shades you&apos;re looking for on my shop. Plus I have some trendy and fashionable clothes that could fit you.
                        | Please visit my shop :D
                    .card-footer
                      a.card-link(href='#')
                        i.fa.fa-gittip
                        |  Like
                      a.card-link(href='#comment2', data-toggle='collapse')
                        i.fa.fa-comment
                        |  Comment
                      a.card-link(href='#')
                        i.fa.fa-mail-forward
                        |  Share
                    #comment2.collapse
                      ul.media-list
                        li.media.media-replied
                          .container.pb-cmnt-container
                            .row
                              .col-md.col-md-offset-3
                                .panel.panel-info
                                  .panel-body
                                    textarea.pb-cmnt-textarea(placeholder='Write your comment here!')
                                    form.form-inline
                                      .btn-group
                                        button.btn(type='button')
                                          span.fa.fa-picture-o.fa-lg
                                      button.btn.btn-primary.pull-right(type='button') Post
            link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
            script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
